@keyframes ldio-fhyz1gceyev {
   0% { transform: translate(8.22px,54.800000000000004px) scale(0); }
  25% { transform: translate(8.22px,54.800000000000004px) scale(0); }
  50% { transform: translate(8.22px,54.800000000000004px) scale(1); }
  75% { transform: translate(54.800000000000004px,54.800000000000004px) scale(1); }
 100% { transform: translate(101.38000000000001px,54.800000000000004px) scale(1); }
}
@keyframes ldio-fhyz1gceyev-r {
   0% { transform: translate(101.38000000000001px,54.800000000000004px) scale(1); }
 100% { transform: translate(101.38000000000001px,54.800000000000004px) scale(0); }
}
@keyframes ldio-fhyz1gceyev-c {
   0% { background: #c00000 }
  25% { background: #c00000 }
  50% { background: #c00000 }
  75% { background: #c00000 }
 100% { background: #c00000 }
}
.ldio-fhyz1gceyev div {
  position: absolute;
  width: 27.400000000000002px;
  height: 27.400000000000002px;
  border-radius: 50%;
  transform: translate(54.800000000000004px,54.800000000000004px) scale(1);
  background: #c00000;
  animation: ldio-fhyz1gceyev 1.0989010989010988s infinite cubic-bezier(0,0.5,0.5,1);
}
.ldio-fhyz1gceyev div:nth-child(1) {
  background: #c00000;
  transform: translate(101.38000000000001px,54.800000000000004px) scale(1);
  animation: ldio-fhyz1gceyev-r 0.2747252747252747s infinite cubic-bezier(0,0.5,0.5,1), ldio-fhyz1gceyev-c 1.0989010989010988s infinite step-start;
}.ldio-fhyz1gceyev div:nth-child(2) {
  animation-delay: -0.2747252747252747s;
  background: #c00000;
}.ldio-fhyz1gceyev div:nth-child(3) {
  animation-delay: -0.5494505494505494s;
  background: #c00000;
}.ldio-fhyz1gceyev div:nth-child(4) {
  animation-delay: -0.8241758241758241s;
  background: #c00000;
}.ldio-fhyz1gceyev div:nth-child(5) {
  animation-delay: -1.0989010989010988s;
  background: #c00000;
}
.loadingio-spinner-ellipsis-7tigfk2cggw {
  width: 137px;
  height: 137px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-fhyz1gceyev {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-fhyz1gceyev div { box-sizing: content-box; }